---
---

$mainfont: 'Inconsolata', monospace, sans-serif;  //'Anonymous Pro', monospace;
$awhite: #fff;
$agrey: rgb(59, 255, 142);
$green: rgb(0, 255, 0);
$purple: rgb(255, 0, 240);
$border-thickness: 3.3px;
$link-bottomline: $border-thickness solid $awhite;
$link-bottomline-hover: $border-thickness solid rgba(0,0,0,0);
$plist-offset-hover: 0.8em;
$label-border-color: #000;

@mixin filter($filter-type,$filter-amount) {
	-webkit-filter: $filter-type+unquote('(#{$filter-amount})');
	-moz-filter: $filter-type+unquote('(#{$filter-amount})');
	-ms-filter: $filter-type+unquote('(#{$filter-amount})');
	-o-filter: $filter-type+unquote('(#{$filter-amount})');
	filter: $filter-type+unquote('(#{$filter-amount})');
}
@mixin border-top-right-bottom($thickness, $color){
	border-top: $thickness solid $color;
	border-right: $thickness solid $color;
	border-bottom: $thickness solid $color;
}
@mixin linkOnWhite(){
	a {
		color: #000;
		border-color: #000;
		&:hover{
			border-color: #fff;
		}
	}
}

//=============================================================================================
// General
//=============================================================================================



body {
	font-family: $mainfont;
	max-width: 100%;
	font-size: 105%;
}




p{
	// font-weight: 300;
	text-transform: none;
}

.black-text{
	color: #000;
}

#preloads {
	display:none;
}
.text-right{
	text-align: right;
}
.underline {
	text-decoration: underline;
}
.img-responsive{
	min-width: 100%;
	height: auto;
}
.songti-chinese {
	font-family: "STSong",serif;
}
.avoid-overlay-plist-label {
	margin-top: 90px;
}

hr{
	border: $border-thickness #000 solid;
}

ul{
	padding-left: 0;
}

li{
	list-style: none;
}

.content-container{
    div{
        margin-bottom: 5em;
    }

    img{
        margin-bottom: 2em;
    }

}




//=============================================================================================
// Is Shame Necessary
//=============================================================================================


#isshamenecessary {
	$ishbgcolor: #12B06B;
	background-color: $ishbgcolor;
	color: #fff;


	.container {
		min-height: 100vh;
		hr{
			border-color: #fff;
		}
	}

	.container-fluid .row{

		background-attachment: fixed;
		height: 100vh;
		background-position: center center;
		background-size: 80%;
		background-repeat: no-repeat;
		position: relative;

		&::before {
			position: absolute;
			width: 100%;
			height: 100vh;
			z-index: 1;
		}

		h1{
			z-index: 8;
			padding: 1em;
			position: absolute;
			font-size: 1.5em;
			left: 1em;
			bottom: 1em;
			background-color: $ishbgcolor;
			color: #fff;

			@media (max-width: 767.99999px) {
				font-size: 1.2em;
			}
		}

	}

	#landing{
		background-image: url({{ "/assets/isshamenecessary/landing.png" | prepend: site.baseurl }});
	}
	#navigation {
		background-image: url({{ "/assets/isshamenecessary/nav.png" | prepend: site.baseurl }});
	}
	#map{
		background-image: url({{ "/assets/isshamenecessary/map.png" | prepend: site.baseurl }});
	}

}

//=============================================================================================
// Exhibit Growth
//=============================================================================================


#exhibit-growth{

	color: #fff;

	hr{
		border-color: #fff;
	}
	#bg-container{
		min-height: 100vh;
		background-image: url({{ "/assets/exhibitgrowth/Growth-8669.jpg" | prepend: site.baseurl }});
		background-position: center center;
		background-size: cover;
		transition: background-image 2s;

		.black-bg{
			background: #000;
			padding: 2em;
		}

	}

	#slides {
		& > div {
			position: relative;

			&::after {
				font-size: 5px;
				content: "mock up picture credit: The Mill+";
				color: #fff;
				background: #000;
				padding: 0.4em;
				position: absolute;
				right: 0;
				bottom: 0;
				z-index: 5;
			}
		}
	}
}

//=============================================================================================
// Printing Code
//=============================================================================================

#printing-code {

	$main-color: #000;

	color: $main-color;
	background-color: #fff;

	h1 {
		font-size: 8em;
		color: #000;
		@media (max-width:768px){
			font-size: 5em;
		}
	}
	h2 {
		font-size: 1.4em;
	}


	hr{
		border-color: $main-color;
	}

	.container-fluid{

			// all other images
			.row {
				min-height: 100vh;

				&:nth-child(1) {
					text-align: center;
					background: url({{ '/assets/printingcode/onwall_30opa.jpg' | prepend: site.baseurl }}) center center no-repeat;
					background-size: contain;
					padding: 10%;
					margin-bottom: 10em;
				}
				img{
					border: $border-thickness+5px solid #FBF7F5;
				}

			}

		}

	}





//=============================================================================================
// Happiness Notebook
//=============================================================================================


#book-of-happiness{
	$maincolor: #000;
	color: $maincolor;
	hr{ border-color: $maincolor; }

	.container {
		margin-bottom: 20em;
		.row {
			&:nth-child(1) {


				div:nth-child(2){
					img {
						width: 100%;
					}
				}
			}
		}
	}

	.container-fluid {

		.gallery {
			img {
				font-size: 0;
				width: 25vw;
				padding:0 !important;
				margin: 0 !important;
				display: inline;
				border: none;
				border-image-width: 0;
				-webkit-filter: grayscale(100%);
				filter: grayscale(100%);
				@media (max-width:768px){
					width: 50vw;
				}
				transition: -webkit-filter 0.3s, filter 0.3s;

				&:hover {
					-webkit-filter: grayscale(0%);
					filter: grayscale(0%);
				}
			}
		}



	}

}


//=============================================================================================
// ACA
//=============================================================================================

#art-community-alliance {
	$maincolor: #333333;


	#aca-video-container {
			// z-index: -10;
		}

		.container-fluid {


			//original
			#bg {
				background: url({{ "/assets/aca/original.png" | prepend: site.baseurl }}) center center;
				background-size: 36%;
				background-repeat: no-repeat;
				position: fixed;
				width: 100vw;
				height: 100vh;
				z-index: -100;

				@media (max-width: 767.99999px) {
					background-size: 70%;
				}


			}

			& > .row:nth-child(2) { // title line
				min-height: 100vh;
			}

			& > .row:nth-child(3) { //
				background-color: #fff;
				opacity: 0.8;
				padding: 10em 0;

				img {

				}
			}

			& > .row:nth-child(4) { // second intro
				background: -moz-linear-gradient(top,  rgba(255,255,255,0.8) 0%, rgba(255,255,255,1) 23%, rgba(255,255,255,1) 24%, rgba(255,255,255,1) 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.8)), color-stop(23%,rgba(255,255,255,1)), color-stop(24%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1)));
				background: -webkit-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,1) 23%,rgba(255,255,255,1) 24%,rgba(255,255,255,1) 100%);
				background: -o-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,1) 23%,rgba(255,255,255,1) 24%,rgba(255,255,255,1) 100%);
				background: -ms-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,1) 23%,rgba(255,255,255,1) 24%,rgba(255,255,255,1) 100%);
				background: linear-gradient(to bottom,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,1) 23%,rgba(255,255,255,1) 24%,rgba(255,255,255,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffffff', endColorstr='#ffffff',GradientType=0 );
				padding: 20em 0;

			}


			& > .row:nth-child(5) { // videos

				background-color: #fff;
				text-align: center;
				&>div {
					@media (max-width: 767.99999px) {
						margin-bottom: 4em;
					}

				}
				video {
					width: 80%;
					margin: 0 auto;
					border: $border-thickness+2px solid $maincolor;
				}

				padding-bottom: 20em;
			}
		}

	}


//=============================================================================================
// BALANCE
//=============================================================================================


#balance {
	text-align: center;

	#intro {
		padding-top: 3em;
		padding-bottom: 17em;

		h1 {
			font-size: 7em;
			@media ( max-width: 768px ){
				font-size: 5em;
			}
		}
		@include linkOnWhite();

		hr {
			width: 30%;
			margin: 0 auto;
		}

	}

	#intro-posters{
		img{
			width: 80%;
			margin: 15em auto;
		}
	}

	#learnmore {
		a {
			color: #000;
			border-color: #000;

			&:hover{
				border-color: #fff;
			}
		}

		padding: 4em 0;
	}
}


//=============================================================================================
// Interlaced Faces
//=============================================================================================

#interlacedfacespage {

	@include linkOnWhite();
	h1 {
		margin-bottom: 0;
		font-size: 6.3em;

	}

	p{
		font-size: 1.25em;
	}

	.row:nth-child(1) {


	}
}

//=============================================================================================
// The Introspection Game
//=============================================================================================
#tigpage{
	.container-fluid{


		#cover-page {
			min-height: 100vh;
			img {
				height: 188px;
				display: inline;
				@media (max-width:768px){
					height: auto;
					width: 100%;
				}

			}
		}


		#title-image {

			img {
				width: 100%;
			}
		}


		.arrow {
				width: 2em;
				margin: 4em 0;
		}

		#big-p {

			margin-top: 5em;

			a {
				color: #000;
				border-bottom: solid 6px #000;
				transition: color 0.9s, border-color 0.9s;
			}


			p{
				font-size: 3em;
				transition: color 0.9s;
				letter-spacing: -1px;
				// line-height: 1.2em;
				color: #000;

				@media(max-width:768px){
					font-size: 2.5em;
					a {
						color: #000;
						border-bottom: solid 0.2em #000;
					}
				}

			}
		}


	}

	#imagePlaceholder {
		position: fixed;
		z-index: 100;
		width: 15vw;
		height: 100vh;
		@media ( max-width: 768px ){
			width: 80vw;
			// height: 50vh;
			left: 10vw;
			top: 0;
			z-index: -100;
		}
		right: 0;
		top: 0;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
	}


}

//=============================================================================================
// FLOW
//=============================================================================================
#flowpage {

	a {
		color: #000;
		border-color: #000;
		&:hover{
			border-color: #fff;
		}
	}

	p {
		font-size: 1.2em;
	}

	.row:nth-child(1){
		h1 {
			font-size: 5em;
			position: relative;
			left: 1em;
		}
	}

	.row:nth-child(3){
		margin-top: 5em;
		margin-bottom: 5em;
		#research {
			@media ( min-width: 992px) {
				position: relative;
				top: -10em;
			}
		}
	}
}

//=============================================================================================
// Joe
//=============================================================================================


#joepage {
	a {
		color: #000;
		border-color: #000;
		&:hover {
			border-color: #fff;
		}
	}
	p{
		font-size: 1.4em;
	}
	h1{
		margin-top: 30px;
		font-size: 5em;
	}
	img {
		width: 3em;
		margin: 1em 0;
	}
}


//=============================================================================================
// Project List
//=============================================================================================

#project-list{
    color: $purple;
	$project-list-font-size: 2em;
	text-transform: capitalize;
	min-height: 100vh;
	width: 100vw;
	position: absolute;
	background: transparent;
	top: 0;
	left: 0;

	#legal-info {
		position: absolute;

		left: 6px;
		bottom: 6px;
		font-size: 0.8em;

		h5{
			margin: 0;
			}
		}


		ul {
			margin-top: 5em;

			h5 {
				margin: 0.2em auto;
			}

			li{
                color: $green;
				padding: 5px 0;
				position: relative;
				left: 0;
				transition: padding 0.2s, width 0.5s, height 0.5s;
				font-size: $project-list-font-size;
                line-height: 1.2em;

					&:hover{
                        text-decoration: underline;
                        text-decoration-color: $green;
					}
				}
			}



        a{
            padding:0;

            p{
                display: none;
            }

            .shortcode {
                display: none;
            }
        }

        .brief{
            display: none;
        }
}



//=============================================================================================
// Blob and SpeechBubble
//=============================================================================================

#zzContainer{
    z-index: -100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#speech-bubble {
	position: fixed;
	// top: 45vh;
	// left: 54vw;
	opacity: 0;
	// min-height: 30px;
}

#speech-bubble p {
	position: absolute;
	width: auto;
	height: auto;
	// right: 0;
	// bottom: 0;
	font-size: 20px;
	background: transparent;
	border: 3px $green solid;

	// border-radius: 100px 100px 0px 100px;
	color: $green;
	font-weight: bold;
	padding: 20px;
	min-width: 180px;
}

#yanText{
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
}
